:root {
  --accent-color: #ce0030;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #343a40;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* Reused components */
.designHeading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  line-height: 24px;
  color: var(--accent-color);
}
div.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.navigation span {
  font-size: 40px;
  opacity: .3;
}
div.navigation span:hover {
  cursor: pointer;
  color: var(--accent-color);
  opacity: .7;
}
div.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* Signup Page */
#signupPage {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
#signupPage > * {
  flex: 1;
  padding: 64px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#signupPage .form-container {
  max-width: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#signupPage .form-container button {
  margin-top: 16px;
}

#signupPage .cover {
  padding: 0;
  background-image: url(./images/welcome-page-bg.jpg);
  background-size: cover;
  background-position: center;
}

#signupPage button.spin span {
  animation: spin 2.5s infinite linear;
}
@media (max-width: 820px) {
  #signupPage {
    flex-direction: column;
  }
  #signupPage .cover {
    min-height: 35vh;
  }
}

#richTextEditor {
  padding:  40px 16px;
  height: max-content;
  width: 100%;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}
#richTextEditor h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}
#richTextEditor .navigation {
  margin-bottom: 12px;
}